.activeApplicationsContainer table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 49%;
    background-color: white;
    float: left;
    text-align: center;
}

.activeApplicationsContainer {
    background-color: white;
    height: 100vh;
    text-align: center;
}

.requisitionsActiveApplicationsTable {
    counter-reset: rowNumber;
    margin-right: 10px;
    margin-left: 10px;
}

.activeApplicationsContainer table tr td:first-child::before {
    content: counter(rowNumber);
    counter-increment: rowNumber;
    min-width: 1em;
    margin-right: 0.5em;
}

.activeApplicationsContainer td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.activeApplicationsContainer tr:hover {
    cursor: pointer;
}

.activeApplicationsContainer th {
    text-align: center;
    border: 1px solid #dddddd;
    padding: 8px;
}

.activeApplicationsContainer th:hover {
    cursor: default;
}

.activeApplicationsContainer tr:nth-child(even) {
    background-color: #dddddd;
}

#activeApplicationsHeader {
    color: black;
    text-align: center;
}

#jobsSearchInput {
    width: 500px;
    font-size: 16px;
    padding-left: 20px;
    border: 1px solid #ddd;
}