.candidatesTable {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 70%;
    background-color: white;
    margin: auto;
}

.candidatesTable td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.candidatesTable th {
    text-align: center;
    border: 1px solid #dddddd;
    padding: 10px;
    background-color: #fb2525;
    color: white;
}

.candidatesTable th:hover {
    cursor: default;
}

.candidatesTable tr:nth-child(even) {
    background-color: #dddddd;
}

.candidatesTable tr:hover {
    cursor: pointer;
}

#applicantsHeader {
    color: black;
    text-align: center;
}

.candidatesContainer {
    background-color: white;
    text-align: center;
}

#candidateSearchInput {
    width: 500px;
    font-size: 16px;
    padding-left: 20px;
    border: 1px solid #ddd;
    text-align: left;
    margin-bottom: 10px;
}

.upArrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    margin-right: 15px;
    margin-left: 10px;
    padding: 3px;
    transform: rotate(-135deg);
}

.downArrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    margin-bottom: 3px;
    padding: 3px;
    transform: rotate(45deg);
}

.upArrow:hover {
    cursor: pointer;
}

.downArrow:hover {
    cursor: pointer;
}