.jobContainer table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 49%;
    background-color: white;
    float: left;
    text-align: center;
}

.jobContainer {
    background-color: white;
    height: 100vh;
    text-align: center;
}

.jobContainer .resetButton {
    margin-left: 20%;
}

.jobsTable {
    counter-reset: rowNumber;
    margin-right: 10px;
    margin-left: 10px;
}


.jobsTable tr td:first-child::after {
    content: counter(rowNumber);
    counter-increment: rowNumber;
    min-width: 1em;
    margin-right: 0.5em;
}

.jobContainer td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.jobContainer tr:hover {
    cursor: pointer;
}

.jobContainer th {
    text-align: center;
    border: 1px solid #dddddd;
    padding: 8px;
}

.jobContainer th:hover {
    cursor: default;
}

.jobContainer tr:nth-child(even) {
    background-color: #dddddd;
}

#jobsHeader {
    color: black;
    text-align: center;
}

#jobsSearchInput {
    width: 500px;
    font-size: 16px;
    padding-left: 20px;
    border: 1px solid #ddd;
}