.applicationStatusContainer {
    width: 85%;
    float: right;
}

#application-header {
    color: black;
}

.progressbar {
    counter-reset: step;
    padding-top: 3%;
}

.progressbar li {
    list-style-type: none;
    width: 25%;
    float: left;
    font-size: 12px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    color: #7d7d7d;
}

.progressbar li:hover {
    cursor: pointer;
}

.progressbar li:before {
    width: 30px;
    height: 30px;
    content: counter(step);
    counter-increment: step;
    line-height: 30px;
    border: 2px solid #7d7d7d;
    display: block;
    text-align: center;
    margin: 0 auto 10px auto;
    border-radius: 50%;
    background-color: #7d7d7d;
    color: rgba(0, 0, 0, 0);
}

.progressbar li:after {
    width: 100%;
    height: 2px;
    content: '';
    position: absolute;
    background-color: #7d7d7d;
    top: 15px;
    left: -54%;
    z-index: 0;
    cursor: default;
}

.progressbar li:first-child:after {
    content: none;
}

.progressbar li.active {
    color: green;
}

.progressbar li.active:before {
    border-color: #55b776;
    background-color: #55b776;
}

.progressbar li.active + li:after {
    background-color: #55b776;
}

