.profileView {
    width: 100%;
    min-height: 100vh;
    background-color: white;
}

.btn-submit {
    width: 100%;
    border: none;
    outline: none;
    height: 40px;
    font-size: 18px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.btn-submit:disabled {
    background-color: gray;
    color: #fff;
}

.btn-submit:enabled {
    background: #fb2525;
    color: #fff;
}

.btn-submit:enabled:hover {
    cursor: pointer;
}

.column {
    float: left;
    width: 49%;
    align-content: center;
}

.form {
    margin-left: 100px;
    margin-right: 100px;
}

.profileView {
    text-align: center;
}

.profileView .profileField {
    border: 1px solid black;
    padding: 4px;
    margin-top: 10px;
    width: 80%;
    margin-left: 50px;
}

.profileView label {
    float: left;
    width: 10em;
    margin-left: 75px;
    font-weight: bold;
    margin-top: 10px;
    text-align: left;
    margin-bottom: -8px;
}

#updateSuccessContainer {
    margin-top: 10px;
    border: 2px solid darkgreen;
    background-color: seagreen;
    text-align: center;
}

#updateSuccessText {
    color: white;
    font-weight: bold;
}

.profile-header {
    color: black;
}