.profileView {
    width: 100%;
    min-height: 100vh;
    background-color: white;
}

.btn-submit {
    margin-top: 20px;
    width: 30%;
    border: none;
    outline: none;
    height: 40px;
    font-size: 18px;
    border-radius: 10px;
}

.btn-submit:disabled {
    background-color: gray;
    color: #fff;
}

.btn-submit:enabled {
    background: #fb2525;
    color: #fff;
}

.btn-submit:enabled:hover {
    cursor: pointer;
}

.column {
    float: left;
    width: 49%;
}

.profileView .profileField {
    border: 1px solid black;
    padding: 4px;
    margin-top: 10px;
    width: 80%;
}

.profileView label {
    float: left;
    width: 10em;
    margin-left: 75px;
    font-weight: bold;
    margin-top: 10px;
    text-align: left;
}

.main-content {
    float: left;
    display: inline;
    width: 85%;
    grid-template-columns: auto auto;
    margin-top: 2%;
}

#temp-nav {
    color: white;
    background-color: gray;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0;
}